<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome</h1>
        <h3 class="lead">ChocBloc - Your one stop chocolate shop!</h3>
        <%= link_to "Create Listing", new_listing_path, class: "btn btn-primary my-2", style: "background-color: #3401C5;"%>
        <a href="#Listings" class="btn btn-secondary my-2" style="">View Listings</a>
    </div>
</section>

<section id="Listings">
    <div class="album py-5 bg-light jumbo-shadow">
    <div class="container">
        <div class="row">
            <%= render "card", listings: @listings %>
        </div>
    </div>
</div>
</section>