<div class="container">
      <div class="py-5 text-center">
        <h2>Create Listing</h2>
        <p class="lead">Please provide your listing details below:</p>
      </div>

<%= render "listings/form", listing: @listing %>