// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {
  h1 {
    font-size: 5rem;
  }
  padding: 20vh 4rem;
  background: linear-gradient(to top right, #FFC3A0, #FFAFBD);
}

a.anchor {
  display: block;
  position: relative;
  top: -2rem;
  visibility: hidden;
}